{% extends "blog/base.html" %}

{% block content %}
<div class="text-center">
    <h2 class="titulo2 mb-4">Sobre Honey Panqui</h2>
</div>
<div class="text-center">
    <p class="cuerpo mb-4">Somos una empresa de hotcakes, nacidos en este 2025, para darles un pedacito de cielo.</p>
    <p class="cuerpo mb-4">Desde Buenos Aires, nace una nueva costumbre, próximamente tradición.</p>
    <p class="cuerpo mb-4">Con todos los sabores que disfrutamos como argentinos y en el mundo.</p>
</div>

{% endblock %}