{% extends "blog/base.html" %}

{% load static %}

{% block content %}
    <div class="text-center">
        <h2 class="titulo2 mb-4">Lista de Productos</h2>
    </div>
    <form method="get" action="{% url 'HoneyPanqui:lista_productos' %}" class="d-flex justify-content-center align-items-center gap-2 mb-4">
        <input type="text" name="q" placeholder="Buscar producto..." class="form-control w-50 pastel-input">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <div class="text-center"> 
        {% if messages %}
            {% for message in messages %}
                {% if 'carrito' in message.tags %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

<img src="{% static 'blog/chocorosa.jpg' %}" alt="PANCHOCH" height="200px">
<img src="{% static 'blog/normi.jpg' %}" alt="PANQUI" height="200px"> 
<img src="{% static 'blog/dulce.jpg' %}" alt="PANQUIS" height="200px">
<img src="{% static 'blog/fruti.jpg' %}" alt="PANFRES" height="200px">
<img src="{% static 'blog/chococafe.jpg' %}" alt="PANCHOCHS" height="200px">
<img src="{% static 'blog/plat.jpg' %}" alt="PANQUII" height="200px">

</form>
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title producto-nombre">{{ producto.nombre }}</h5>
                        <p class="card-text text-muted text-center">{{ producto.descripcion }}</p>
                        <h6 class="text-success text-center">${{ producto.precio }}</h6>
                        <form method="post" action="{% url 'HoneyPanqui:agregar_al_carrito' producto.id %}">
                            {% csrf_token %}
                            <button type="submit">Agregar al carrito</button>
                          </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center text-muted pastel-card p-3">
                No se encontraron productos con ese nombre.
            </p>
        {% endfor %}
    </div>

{% endblock %}