{% extends "blog/base.html" %}

{% block content %}
    <div class="text-center">
        <h2 class="titulo2 mb-4">Registro de Usuario</h2>
    </div> 
    <div class="container d-flex justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title producto-nombre">
                        <form method="post">
                            {% csrf_token %}
                            <div style="margin-bottom: 15px;">
                                {{ form.username }}
                            </div>
                                <div style="margin-bottom: 15px;">
                                    {{ form.email }}
                                </div>
                                <div style="margin-bottom: 15px;">
                                    {{ form.password1 }}
                                </div>
                                <div style="margin-bottom: 15px;">
                                    {{ form.password2 }}
                                </div>
                                <div style="margin-bottom: 15px;">
                                    <label for="{{ form.fecha_nacimiento.id_for_label }}" style="font-size: 18px;" class="cuerpo">Fecha de nacimiento:</label>
                                    {{ form.fecha_nacimiento }}
                                </div>
                            <button type="submit" class="btn btn-primary w-100 mt-3">Registrar</button>
                        </form>
                    </h5>
                </div>
            </div>
        </div>
    </div>





{% endblock %}